{{!< default}}
<div class="container-fluid">
	{{#if songs}}
		<table id="songTable" class="display hide" style="width:100%">
			<thead>
			<tr>
				<th>Song</th>
				<th>Artist</th>
				<th>Disk Number</th>
			</tr>
			</thead>
			<tbody>
			{{#each songs}}
				<tr>
					<td>{{title}}</td>
					<td>{{artist}}</td>
					<td>{{diskNumber}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{>addSong}}
	{{else}}
		<h2>No songs to display. Please add songs.</h2>
	{{/if}}
</div>
